
fastapi
uvicorn
pydantic
scikit-learn
numpy
sqlalchemy
pandas
psycopg2-binary
python-dotenv
pymysql
python-multipart
aiofiles
bcrypt
email-validator
python-jose[cryptography]
requests
python-magic
python-dateutil
fastapi[all]

